@-webkit-keyframes page-transition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes page-transition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.Project {
  margin-top: 5%;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 15%;
}

@media (min-width: 992px) {
  .Project {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
}

.Project .body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.Project .body .container {
  margin-right: 2.5%;
  margin-left: 2.5%;
}

@media (min-width: 992px) {
  .Project .body .container {
    width: 45%;
  }
}

.Project .body .container .image {
  width: 100%;
  margin-top: 2.5%;
}

.Project .body .text {
  margin-right: 2.5%;
  margin-left: 2.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 992px) {
  .Project .body .text {
    display: block;
    -ms-flex-wrap: unset;
        flex-wrap: unset;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    width: 45%;
  }
}

.Project .body .text .header {
  margin-right: 2.5%;
  margin-left: 2.5%;
  margin-bottom: 5%;
  width: 95%;
}

@media (min-width: 768px) {
  .Project .body .text .header {
    margin-bottom: 2.5%;
  }
}

@media (min-width: 992px) {
  .Project .body .text .header {
    margin-bottom: 0;
  }
}

.Project .body .text .header .title {
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: 300;
  font-size: 1.25rem;
  text-align: center;
  margin-top: 10px;
}

@media (min-width: 768px) {
  .Project .body .text .header .title {
    font-size: 2rem;
  }
}

@media (min-width: 992px) {
  .Project .body .text .header .title {
    font-size: 2.5rem;
    text-align: unset;
    margin-top: 0;
  }
}

.Project .body .text .header .skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: gray;
}

.Project .body .text .header .skills .skill:nth-child(1) {
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}

.Project .body .text .header .skills .skill:nth-child(2) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.Project .body .text .header .skills .skill:nth-child(3) {
  -webkit-animation-delay: 0.55s;
          animation-delay: 0.55s;
}

.Project .body .text .header .skills .skill:nth-child(4) {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.Project .body .text .header .skills .skill:nth-child(5) {
  -webkit-animation-delay: 0.85s;
          animation-delay: 0.85s;
}

@media (min-width: 992px) {
  .Project .body .text .header .skills {
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
}

.Project .body .text .header .skills .skill {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-radius: 10px;
  list-style-type: none;
  margin-right: 5%;
  margin-bottom: 5%;
  font-size: .65rem;
  position: relative;
  opacity: 0;
  -webkit-animation: appear 0.35s cubic-bezier(0, 0, 0, 1) 0.1s forwards;
          animation: appear 0.35s cubic-bezier(0, 0, 0, 1) 0.1s forwards;
}

@media (min-width: 768px) {
  .Project .body .text .header .skills .skill {
    font-size: 1rem;
  }
}

@media (min-width: 992px) {
  .Project .body .text .header .skills .skill {
    font-size: 1rem;
  }
}

.Project .body .text .details {
  font-size: 1rem;
  line-height: 2rem;
  margin-top: 0;
  margin-bottom: 7.5%;
}

@media (min-width: 768px) {
  .Project .body .text .details {
    font-size: 1.25rem;
    line-height: 2.5rem;
  }
}

@media (min-width: 992px) {
  .Project .body .text .details {
    font-size: 1.5rem;
    line-height: 3rem;
  }
}

.Project .body .text .link {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
  font-size: 1.25rem;
  color: black;
  padding: 2.5%;
  border: black 3px solid;
  position: relative;
  -webkit-box-shadow: 5px 5px black;
          box-shadow: 5px 5px black;
  bottom: 0;
  right: 0;
  -webkit-transition: bottom .2s, right .2s, -webkit-box-shadow .2s;
  transition: bottom .2s, right .2s, -webkit-box-shadow .2s;
  transition: box-shadow .2s, bottom .2s, right .2s;
  transition: box-shadow .2s, bottom .2s, right .2s, -webkit-box-shadow .2s;
}

@media (min-width: 992px) {
  .Project .body .text .link {
    font-size: 1.75rem;
    margin-left: 1.75%;
  }
}

.Project .body .text .link:hover {
  -webkit-box-shadow: 10px 10px black;
          box-shadow: 10px 10px black;
  bottom: 5px;
  right: 5px;
  -webkit-transition: bottom .2s, right .2s, -webkit-box-shadow .2s;
  transition: bottom .2s, right .2s, -webkit-box-shadow .2s;
  transition: box-shadow .2s, bottom .2s, right .2s;
  transition: box-shadow .2s, bottom .2s, right .2s, -webkit-box-shadow .2s;
}

@-webkit-keyframes appear {
  0% {
    bottom: -10px;
    opacity: 0;
  }
  100% {
    bottom: 0;
    opacity: 1;
  }
}

@keyframes appear {
  0% {
    bottom: -10px;
    opacity: 0;
  }
  100% {
    bottom: 0;
    opacity: 1;
  }
}
/*# sourceMappingURL=Project.css.map */