@import "../../variables";

.Project{
    margin-top: 10%;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 15%;
    
    @include breakpoint(largeWidth){
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .body{
        display: flex;
        flex-wrap: wrap;

        .container{
            @include breakpoint(largeWidth){
                width: 45%;
            }
            margin-right: 2.5%;
            margin-left: 2.5%;

            .image{
                width: 100%;
                margin-top: 2.5%;
            }
        }
        
        .text{
            margin-right: 2.5%;
            margin-left: 2.5%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            @include breakpoint(largeWidth){
                display: block;
                flex-wrap: unset;
                justify-content: unset;
                width: 45%;
            }

            .header{
                margin-right: 2.5%;
                margin-left: 2.5%;
                margin-bottom: 5%;
                width: 95%;

                @include breakpoint(mediumWidth){
                    margin-bottom: 2.5%;
                }

                @include breakpoint(largeWidth){
                    margin-bottom: 0;
                }

                .title{
                    margin-top: 10px;
                    margin-bottom: 5px;
                    font-weight: 300;
                    font-size: 1.25rem;
                    text-align: center;
                    margin-top: 10px;

                    @include breakpoint(mediumWidth){
                        font-size: 2rem;
                    }

                    @include breakpoint(largeWidth){
                        font-size: 2.5rem;
                        text-align: unset;
                        margin-top: 0;
                    }
                }
        
                .skills{
                    display: flex;
                    padding: 0;
                    margin: 0;
                    @for $i from 1 through 5 {
                        .skill:nth-child(#{$i}) {animation-delay: .1s + .15s*$i; }
                    }

                    justify-content: center;
                    color: gray;

                    @include breakpoint(largeWidth){
                        justify-content: unset;
                    }

                    .skill{ 
                        width: max-content;
                        border-radius: 10px;
                        list-style-type: none;
                        margin-right: 5%;
                        margin-bottom: 5%;
                        font-size: .65rem;
                        position: relative;
                        opacity: 0;
                        
                        @include breakpoint(mediumWidth){
                            font-size: 1rem;
                        }

                        @include breakpoint(largeWidth){
                            font-size: 1rem;
                        }
        
                        animation: appear .35s cubic-bezier(0, 0, 0, 1) .1s forwards;
                    }
                }
            }

            .details{
                font-size: 1rem;
                line-height: 2rem;
                margin-top: 0;
                margin-bottom: 7.5%;

                @include breakpoint(mediumWidth){
                    font-size: 1.25rem;
                    line-height: 2.5rem;
                }

                @include breakpoint(largeWidth){
                    font-size: 1.5rem;
                    line-height: 3rem;
                }
            }

            .link{
                width: fit-content;
                text-decoration: none;
                font-size: 1.25rem;
                color: black;
                padding: 2.5%;
                border: black 3px solid;
                position: relative;
                box-shadow: 5px 5px black;
                bottom: 0;
                right: 0;

                transition: box-shadow .2s, bottom .2s, right .2s;
                
                @include breakpoint(largeWidth){
                    font-size: 1.75rem;
                    margin-left: 1.75%;
                }
            }

            .link:hover{
                box-shadow: 10px 10px black;
                bottom: 5px;
                right: 5px;

                transition: box-shadow .2s, bottom .2s, right .2s;
            }


        }
    }
}

@keyframes appear {
    0%{
        bottom: -10px;
        opacity: 0;
    }
    100%{
        bottom: 0;
        opacity: 1;
    }
}