@import '../../variables';

.project{
    position: relative;
    display: block;
    top: 0;
    left: 0;
    margin-bottom: 40px;
    padding: 20px 30px;
    border: 1px $text-color solid;
    border-radius: 10px;
    transition: top .5s, left .5s, box-shadow .5s;

    .header{
        display: flex;
        justify-content: space-between;

        h2{
            font-size: 1.2em;

            @include breakpoint(tabletWidth) {
                font-size: 1.6em
            }
        }

        #project-arrow{
            width: 20px;
            transition: transform .25s ease;

            @include breakpoint(tabletWidth) {
                width: 30px;
            }
        }

        .flip{
            transform: rotateZ(180deg);
        }
    }
    
    .description:hover{
        will-change: max-height;
    }

    .description{
        max-height: 0;
        overflow: hidden;
        transition: max-height .25s ease;
        
        ul{
            display: flex;
            margin: 15px 0 10px 0;
    
            li{
                display: unset;
                margin-right: 10px;
                padding: 7.5px 10px; 
                background-color: $light-green;
                border-radius: 7.5px;
                font-size: 1em;
                font-family: "Poppins";
                color: $alt-text-color;
            }
        }
        
        .content{
            margin-bottom: 10px;
        }

        p{
            margin: 20px 50px 20px 0;
            font-size: 1.25em;
            line-height: 1.5em;
            color: $alt-text-color;
        }

        .links{
            display: flex;

            a{  
                display: block;
                cursor: unset;

                img{
                    width: 32px;
                    height: 32px;
                    margin-right: 25px;
                }
            }
        }
    }
}