@-webkit-keyframes page-transition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes page-transition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.Portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: page-transition .25s ease-in forwards;
          animation: page-transition .25s ease-in forwards;
  min-height: 100vh;
}

@media (min-width: 992px) {
  .Portfolio {
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
}

.Portfolio .Links {
  width: 100%;
  margin-top: 2.5%;
}

.Portfolio .Links .project .hover-container {
  padding-left: 5%;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color .25s;
  transition: background-color .25s;
}

.Portfolio .Links .project .hover-container .container {
  width: 0;
  margin-right: 1%;
  position: relative;
  -webkit-transition: width .25s;
  transition: width .25s;
}

.Portfolio .Links .project .hover-container .container .arrow {
  width: 100%;
  margin-left: 10%;
}

.Portfolio .Links .project .hover-container:hover {
  background-color: #ffd639;
  -webkit-transition: background-color .25s;
  transition: background-color .25s;
}

.Portfolio .Links .project .hover-container:hover .container {
  width: 2.5%;
  -webkit-transition: width .25s;
  transition: width .25s;
}

.Portfolio .Links .project .link {
  text-decoration: none;
  color: black;
  font-size: 2.5rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  white-space: nowrap;
  -webkit-transition: color .25s;
  transition: color .25s;
}

@media (min-width: 1200px) {
  .Portfolio .Links .project .link {
    font-size: 3rem;
  }
}

.Portfolio .Links .project-mobile .hover-container {
  padding-top: 10%;
  padding-bottom: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 768px) {
  .Portfolio .Links .project-mobile .hover-container {
    padding-top: 6%;
    padding-bottom: 5%;
  }
}

.Portfolio .Links .project-mobile .hover-container .container {
  width: 0;
  margin-right: 1%;
  position: relative;
  -webkit-transition: width .25s;
  transition: width .25s;
}

.Portfolio .Links .project-mobile .hover-container .container .arrow {
  display: none;
}

.Portfolio .Links .project-mobile .hover-container .yellow, .Portfolio .Links .project-mobile .hover-container .orange {
  border-bottom: 10px black solid;
}

.Portfolio .Links .project-mobile .hover-container .orange {
  border-color: #ffd639;
}

.Portfolio .Links .project-mobile .hover-container .yellow {
  border-color: #ffff78;
}

.Portfolio .Links .project-mobile .link {
  text-decoration: none;
  color: black;
  font-size: 1.75rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

@media (min-width: 768px) {
  .Portfolio .Links .project-mobile .link {
    font-size: 2.5rem;
  }
}
/*# sourceMappingURL=Portfolio.css.map */