@import "../variables";

.resume{
    margin: 10px 40px 0 40px;

    object{
        height: 600px;
        width: 100%;
    }

    @include breakpoint(largeWidth){
        display: flex;
        justify-content: center;

        object{
            height: 1200px;
            width: 80%;
        }
    }
}