@import '../variables';

.about{
    margin: 75px 0;
    font-size: 1.75em;
    color: $black;

    @include breakpoint(mediumWidth){
        margin: 100px 0;
        
        .hide-desktop{
            display: none;
          }
    }

    p{
        margin: 20px 0;
    }

    a{
        margin-bottom: 5px;
        display: block;
        word-break: break-word;
    }

    div{
        width: 100%;
        margin: 20px 0;
        display: flex;
        justify-content: center;
    
        img{
            width: 25px;
            filter: brightness();
            margin: 10px 25px;
            box-shadow: none;
            transition: filter .2s;
    
            @include breakpoint(mediumWidth){
                width: 40px;
                margin: 10px 40px;
            }
        }
    
        img:hover{
            filter: brightness(0.4);
            transition: filter .2s;
        }
    }
}