@import '../variables';

.about{
    max-width: 700px;
    margin: 10px auto 0 auto;
    animation: page-transition .1s ease-in-out forwards;

    h1{
        text-align: center;
        font-size: 1.25rem;
        margin-top: 0;
    }

    .text{
        flex: 70%;
        max-width: 575px;
        font-size: 1rem;
        margin: 10px 25px 0 25px;
    }
    
    .image{
        flex: 30%;
        max-height: 500px;
        margin: 0 25px;
        overflow: hidden;
    }

    img{
        width: 100%;

    }

    a{
        color: $greyblue;
        transition: color .2s;
    }

    a:hover{
        color: $black;
    }

    @include breakpoint(mediumWidth){
        h1{
            font-size: 2rem;
        }

        .text{
            font-size: 1.5rem;
        }
    }

    @include breakpoint(largeWidth){
        .flex{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row-reverse;
        }

        .image{
            max-height: 375px;
        }
    }
}