@-webkit-keyframes page-transition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes page-transition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.Home {
  -webkit-animation: page-transition .25s ease-in forwards;
          animation: page-transition .25s ease-in forwards;
}

.Home .Intro {
  padding-top: 5%;
  width: 100%;
  color: black;
}

@media (min-width: 992px) {
  .Home .Intro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .Home .Intro .text {
    width: 50%;
  }
  .Home .Intro .shapes {
    width: 50%;
  }
  .Home .Intro .shapes img {
    position: relative;
    opacity: 0;
    bottom: -100px;
    width: 150%;
    left: 50px;
    -webkit-animation: tween-up 1s cubic-bezier(0, 0, 0, 1) 0.25s forwards;
            animation: tween-up 1s cubic-bezier(0, 0, 0, 1) 0.25s forwards;
  }
}

.Home .Intro .name {
  font-weight: 200;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin-top: 20%;
  margin-bottom: 0;
  text-align: center;
  width: 100%;
  font-size: 1.75rem;
}

@media (min-width: 768px) {
  .Home .Intro .name {
    font-size: 2.75rem;
  }
}

@media (min-width: 992px) {
  .Home .Intro .name {
    text-align: left;
    margin-left: 10%;
    margin-top: 35%;
  }
}

@media (min-width: 1200px) {
  .Home .Intro .name {
    font-size: 3.5rem;
    margin-left: 12.5%;
  }
}

.Home .Intro .description {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  font-weight: normal;
  text-align: center;
  width: 90%;
  font-size: 1rem;
  margin-top: 2%;
  margin-left: 5%;
  margin-bottom: 30%;
}

@media (min-width: 768px) {
  .Home .Intro .description {
    font-size: 1.3rem;
  }
}

@media (min-width: 992px) {
  .Home .Intro .description {
    text-align: left;
    margin-left: 10%;
    margin-bottom: 50%;
  }
}

@media (min-width: 1200px) {
  .Home .Intro .description {
    font-size: 1.5rem;
    margin-left: 12.5%;
  }
}

.Home .Work {
  width: 100%;
  margin-bottom: 25%;
}

@media (min-width: 992px) {
  .Home .Work {
    margin-bottom: 0;
  }
}

.Home .Work .info {
  margin: 0;
  margin-left: 5%;
  padding-top: 7.5%;
  padding-bottom: 7.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  font-size: 1.1rem;
}

@media (min-width: 768px) {
  .Home .Work .info {
    font-size: 1.3rem;
  }
}

@media (min-width: 992px) {
  .Home .Work .info {
    font-size: 2.5rem;
    padding-top: 5%;
    padding-bottom: 5%;
  }
}

.Home .Work .mobile_slideshow {
  width: 100%;
  background-image: url("../images/orange_bar.png");
  background-position: center;
  background-size: 100% 175%;
}

.Home .Work .mobile_slideshow .full_portfolio {
  background-color: white;
  text-decoration: none;
  color: black;
  padding: 7.5%;
  padding-left: 2.5%;
  padding-right: 2.5%;
  width: 45%;
  text-align: center;
  margin-left: 25%;
  -webkit-box-shadow: 5px 5px black;
          box-shadow: 5px 5px black;
  font-size: 1.1rem;
}

.Home .Work .mobile_slideshow .full_portfolio .text {
  text-decoration: none;
  color: black;
}

.Home .Work .slideshow {
  position: relative;
  width: 300%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  background-image: url("../images/orange_bar.png");
  background-repeat: repeat-x;
  background-size: 100% 175%;
  background-position: center;
  right: 0;
  -webkit-transition: right 1s;
  transition: right 1s;
}

.Home .Work .slideshow .slideshow_project {
  width: 85%;
  margin-left: 7.5%;
  margin-right: 7.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Home .Work .slideshow .first_project {
  margin-right: 10.625%;
}

.Home .Work .slideshow .middle_project {
  width: 106.25%;
  margin: 0;
}

.Home .Work .slideshow .final_project {
  margin-left: 10.625%;
}

.Home .Work .slideshow .project {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 75%;
  height: 100%;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  margin-right: 5%;
  background-color: #007cbe;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-box-shadow: 10px 10px black;
          box-shadow: 10px 10px black;
}

.Home .Work .slideshow .project .project_image {
  width: 80%;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform .25s;
  transition: -webkit-transform .25s;
  transition: transform .25s;
  transition: transform .25s, -webkit-transform .25s;
}

.Home .Work .slideshow .project .project_title {
  position: absolute;
  top: 72.5%;
  left: 7.5%;
  padding: 2.5%;
  padding-left: 10%;
  padding-right: 10%;
  background-color: white;
  font-weight: 200;
  -webkit-box-shadow: 5px 5px black;
          box-shadow: 5px 5px black;
  text-decoration: none;
  color: black;
  font-size: 1rem;
  -webkit-transition: top .25s, left .25s, -webkit-box-shadow .25s;
  transition: top .25s, left .25s, -webkit-box-shadow .25s;
  transition: top .25s, left .25s, box-shadow .25s;
  transition: top .25s, left .25s, box-shadow .25s, -webkit-box-shadow .25s;
}

@media (min-width: 1200px) {
  .Home .Work .slideshow .project .project_title {
    font-size: 1.75rem;
    top: 70.5%;
  }
}

.Home .Work .slideshow .project_middle {
  width: 60%;
  margin-right: 1%;
}

.Home .Work .slideshow .project:hover {
  cursor: pointer;
}

.Home .Work .slideshow .project:hover .project_title {
  left: calc(7.5% - 5px);
  top: calc(70.5% - 5px);
  -webkit-box-shadow: 10px 10px black;
          box-shadow: 10px 10px black;
  -webkit-transition: top .25s, left .25s, -webkit-box-shadow .25s;
  transition: top .25s, left .25s, -webkit-box-shadow .25s;
  transition: top .25s, left .25s, box-shadow .25s;
  transition: top .25s, left .25s, box-shadow .25s, -webkit-box-shadow .25s;
}

.Home .Work .slideshow .project:hover .project_image {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: -webkit-transform .25s;
  transition: -webkit-transform .25s;
  transition: transform .25s;
  transition: transform .25s, -webkit-transform .25s;
}

.Home .Work .slideshow .container {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 25%;
  position: relative;
}

.Home .Work .slideshow .container .next_arrow {
  width: 70%;
  margin-right: 10%;
  margin-left: 10%;
  -webkit-transition: margin-left .25s;
  transition: margin-left .25s;
}

.Home .Work .slideshow .container_middle {
  width: 20%;
}

.Home .Work .slideshow .flip {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.Home .Work .slideshow .container:hover .next_arrow {
  cursor: pointer;
  width: 70%;
  margin-right: 15%;
  margin-left: 15%;
  -webkit-transition: margin-left .25s;
  transition: margin-left .25s;
}

.Home .Work .slideshow .full_portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  font-size: 2.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Home .Work .slideshow .full_portfolio .text {
  font-weight: 200;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: white;
  -webkit-box-shadow: 5px 5px black;
          box-shadow: 5px 5px black;
  padding: 5%;
  right: 0;
  bottom: 0;
  text-decoration: none;
  color: black;
  -webkit-transition: right .25s, bottom .25s, -webkit-box-shadow .25s;
  transition: right .25s, bottom .25s, -webkit-box-shadow .25s;
  transition: right .25s, bottom .25s, box-shadow .25s;
  transition: right .25s, bottom .25s, box-shadow .25s, -webkit-box-shadow .25s;
}

.Home .Work .slideshow .full_portfolio .text:hover {
  cursor: pointer;
  right: 5px;
  bottom: 5px;
  -webkit-box-shadow: 10px 10px black;
          box-shadow: 10px 10px black;
  -webkit-transition: right .25s, bottom .25s, -webkit-box-shadow .25s;
  transition: right .25s, bottom .25s, -webkit-box-shadow .25s;
  transition: right .25s, bottom .25s, box-shadow .25s;
  transition: right .25s, bottom .25s, box-shadow .25s, -webkit-box-shadow .25s;
}

.Home .Self {
  margin-top: 10%;
  margin-bottom: 10%;
}

@media (min-width: 992px) {
  .Home .Self {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 992px) {
  .Home .Self .container {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
  }
}

.Home .Self .container .headshot {
  position: relative;
  opacity: 0;
  right: 0;
  bottom: 0;
  width: 50%;
  height: auto;
  margin-left: 24.5%;
  -webkit-box-shadow: 10px 10px black;
          box-shadow: 10px 10px black;
  -webkit-transition: right .25s, bottom .25s, -webkit-box-shadow .25s;
  transition: right .25s, bottom .25s, -webkit-box-shadow .25s;
  transition: right .25s, bottom .25s, box-shadow .25s;
  transition: right .25s, bottom .25s, box-shadow .25s, -webkit-box-shadow .25s;
}

@media (min-width: 992px) {
  .Home .Self .container .headshot {
    width: 80%;
    margin-left: 10%;
  }
}

@media (min-width: 1200px) {
  .Home .Self .container .headshot {
    width: 70%;
    margin-left: 15%;
  }
}

.Home .Self .info {
  font-size: 1rem;
  width: 70%;
  margin-left: 15%;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

.Home .Self .info .hi {
  font-weight: 200;
}

@media (min-width: 768px) {
  .Home .Self .info {
    font-size: 1.5rem;
  }
}

@media (min-width: 992px) {
  .Home .Self .info {
    font-size: 2rem;
    width: 40%;
    margin-left: 5%;
    text-align: left;
  }
}

.appear {
  -webkit-animation: tween-up 0.75s cubic-bezier(0, 0, 0, 1) 0.1s forwards;
          animation: tween-up 0.75s cubic-bezier(0, 0, 0, 1) 0.1s forwards;
}

@-webkit-keyframes tween-up {
  0% {
    bottom: -50px;
    opacity: 0;
  }
  100% {
    bottom: 0;
    opacity: 1;
  }
}

@keyframes tween-up {
  0% {
    bottom: -50px;
    opacity: 0;
  }
  100% {
    bottom: 0;
    opacity: 1;
  }
}
/*# sourceMappingURL=Home.css.map */