@import "../variables";

.home{
    margin-top: 25px;

    @include breakpoint(mediumWidth){
      display: flex;
      margin-top: 50px;
    }

    @include breakpoint(desktopWidth){
      margin-top: 75px;
    }
}

@include breakpoint(mediumWidth){
  .left #blur{
    filter: blur(2px);
  }

  .blur{
      animation: blur ease-in-out .25s forwards;
  }
}

@keyframes blur {
    0% {
        filter: blur(2px);
    }
    100% {
        filter: blur(0px);
    }
}