@-webkit-keyframes page-transition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes page-transition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.Contact {
  -webkit-animation: page-transition .25s ease-in forwards;
          animation: page-transition .25s ease-in forwards;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 992px) {
  .Contact {
    height: auto;
  }
}

.Contact .Fail-Send {
  position: absolute;
  padding: 10%;
  background-color: #ffd639;
  -webkit-box-shadow: 5px 5px black;
          box-shadow: 5px 5px black;
  font-size: 1.5rem;
  display: none;
}

.Contact .Fail-Send .close-button {
  font-weight: bold;
  float: right;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 5px;
}

.Contact .Fail-Send.active {
  display: block;
}

@media (min-width: 992px) {
  .Contact .Text {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .Contact .Text {
    width: 40%;
  }
}

.Contact .Text .header {
  margin-top: 15%;
  text-align: center;
  font-weight: 200;
  font-size: 1.75rem;
}

@media (min-width: 992px) {
  .Contact .Text .header {
    font-size: 2.5rem;
  }
}

.Contact .Text .field {
  font-size: 1.25rem;
  margin-left: 5%;
  margin-bottom: 5%;
}

@media (min-width: 992px) {
  .Contact .Text .field {
    font-size: 1.5rem;
  }
}

.Contact .Text .input {
  width: 75%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
  font-size: 1rem;
  margin-left: 7.5%;
  border: solid;
  height: 200px;
  margin-bottom: 15%;
}

@media (min-width: 992px) {
  .Contact .Text .input {
    font-size: 1.25rem;
  }
}

.Contact .Text .email-input {
  height: 50px;
  margin-bottom: 5%;
  padding-top: 0;
}

.Contact .Text .submit {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20%;
}

.Contact .Text .submit .button {
  font-size: 1.5rem;
  cursor: pointer;
  border: none;
  position: relative;
  width: 50%;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: white;
  border: 3px solid black;
  -webkit-box-shadow: 5px 5px black;
          box-shadow: 5px 5px black;
  bottom: 0;
  right: 0;
  -webkit-transition: bottom .2s, right .2s, -webkit-box-shadow .2s;
  transition: bottom .2s, right .2s, -webkit-box-shadow .2s;
  transition: box-shadow .2s, bottom .2s, right .2s;
  transition: box-shadow .2s, bottom .2s, right .2s, -webkit-box-shadow .2s;
}

.Contact .Text .submit .button:hover {
  -webkit-box-shadow: 10px 10px black;
          box-shadow: 10px 10px black;
  bottom: 5px;
  right: 5px;
  -webkit-transition: bottom .2s, right .2s, -webkit-box-shadow .2s;
  transition: bottom .2s, right .2s, -webkit-box-shadow .2s;
  transition: box-shadow .2s, bottom .2s, right .2s;
  transition: box-shadow .2s, bottom .2s, right .2s, -webkit-box-shadow .2s;
}
/*# sourceMappingURL=Contact.css.map */