//Colors

$blue: #007cbe;
$orange: #ffd639;

//Breakpoints

@mixin breakpoint($point) {
    @if $point == giantWidth {
        @media (min-width: 2100px) { @content; }
      }
    @else if $point == extraLargeWidth {
      @media (min-width: 1200px) { @content; }
    }
    @else if $point == largeWidth {
        @media (min-width: 992px) { @content; }
      }
    @else if $point == mediumWidth {
      @media (min-width: 768px) { @content; }
    }
    @else if $point == smallWidth {
      @media (max-width: 767px)  { @content; }
    }
  }

@keyframes page-transition{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}