//Colors

$black: #4d4d4d;
$blue: #2376E4;

//Breakpoints

@mixin breakpoint($point) {
    @if $point == giantWidth {
      @media (min-width: 2100px) { @content; }
    }
    @else if $point == extraLargeWidth {
        @media (min-width: 1800px) { @content; }
      }
    @else if $point == largeWidth {
      @media (min-width: 1200px) { @content; }
    }
    @else if $point == desktopWidth {
        @media (min-width: 992px) { @content; }
      }
    @else if $point == mediumWidth {
      @media (min-width: 768px) { @content; }
    }
    @else if $point == smallWidth {
      @media (max-width: 767px)  { @content; }
    }
  }

@keyframes page-transition{
    0%{
        opacity: 0;
        filter: blur(2px);
    }
    100%{
        opacity: 1;
        filter: blur(0);
    }
}

body{
  color: $black;

  @include breakpoint(smallWidth){
    font-size: 70%;
  }
  @include breakpoint(mediumWidth){
    font-size: 75%;
  }
  @include breakpoint(desktopWidth){
    font-size: 80%;
  }
  @include breakpoint(largeWidth){
    font-size: 100%;
  }
  @include breakpoint(extraLargeWidth){
    font-size: 125%;
  }
  @include breakpoint(giantWidth){
    font-size: 150%;
  }
}
