@import './variables';

.app-container{
    position: relative;
    margin-top: 50px;
}

.circle-container{
    pointer-events: none;
    z-index: 3;
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
}

#circle, #circle2{
    position: absolute;
    border-radius: 50%;
    transition: transform .1s ease, opacity .25s ease;
    will-change: transform, left, right, opacity;
}

#circle{
    top: -100px;
    left: -100px;
    border: 1px solid $brown;
    height: 32px;
    width: 32px;
}

#circle2{
    background-color: $light-green; 
    opacity: 0;
    height: 16px;
    width: 16px;
}

.link{
    cursor: url('../assets/images/mouse.svg'), auto;
}

.app-container{
    position: relative;
}

.home, .project{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

.home-enter, .home-appear{
    opacity: 0;
    @include breakpoint(wideTabletWidth){
        transform: translateX(-10px);
    }
}

.home-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: .25s ease-in-out;
    transition-property: opacity, transform;
    @include breakpoint(wideTabletWidth){
        transition-delay: .65s;
    }
}

.home-exit {
    opacity: 1;
    transform: translateX(0);
}

.home-exit-active {
    opacity: 0;
    transition: .25s;
    transition-property: opacity, transform;
    @include breakpoint(wideTabletWidth){
        transform: translateX(-5px);
    }
}

.project-enter, .project-appear{
    opacity: 0;
    @include breakpoint(wideTabletWidth){
        transform: translateX(10px);
    }
}

.project-enter-active, .project-appear-active {
    opacity: 1;
    transform: translateX(0);
    transition: .25s ease-in-out;
    transition-property: opacity, transform;
    @include breakpoint(wideTabletWidth){
        transition-delay: .65s;
    }
}

.project-exit {
    opacity: 1;
    transform: translateX(0);
    
}

.project-exit-active {
    opacity: 0;
    transition: .25s;
    transition-property: opacity, transform;
    @include breakpoint(wideTabletWidth){
        transform: translateX(5px);
    }
}
  