@import "../variables";

footer{
    width: 100%;
    margin: 20px 0;
    display: flex;
    justify-content: center;

    img{
        width: 40px;
        filter: brightness(1);
        margin: 10px 40px;
        box-shadow: none;
        transition: filter .2s;
    }

    img:hover{
        filter: brightness(0.4);
        transition: filter .2s;
    }
}