@import "../variables";

footer{
    width: 100%;
    margin: 20px 0;
    display: flex;
    justify-content: center;

    img{
        width: 25px;
        filter: brightness(1);
        margin: 10px 25px;
        box-shadow: none;
        transition: filter .2s;

        @include breakpoint(mediumWidth){
            width: 40px;
            margin: 10px 40px;
        }
    }

    img:hover{
        filter: brightness(0.4);
        transition: filter .2s;
    }
}