:root {
  overscroll-behavior: none;
  overflow-x: hidden;
  font-family: Helvetica;
}

body {
  margin: 0;
  font-family: Poppins, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a{
  text-decoration: none;
}

img{
  box-shadow: 1px 1px 5px #4f4f4f;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
